@import url('./reset.css');

:root {
  --font-base: 'Inter', Arial, sans-serif;
  --color-bg: #ffffff;
  --color-text: #1f2937;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}
